.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
    padding: 16px;
    margin-bottom: 25px;
    
}

.td_texto_small {
    width: 154px;
}

.td_texto_large {
    width: 260px;
}

.progress {
    width: 100%;
    height: 10px;
    appearance: none;
    color: blue;
}

.progress[value]::-webkit-progress-bar {
    background-color: #C4C4C4;
}

.progress[value]::-webkit-progress-value {
    background-color: #2F80ED;
}


@media screen and (min-width: 800px) {
    /* SKILL */

    .skills {
        width: 100%;
        grid-area: skills;
    }

    .td_texto_small {
        width: 124px;
    }

    .progress {
        margin-left: 0px;
    }

    .skills__tabla {
        display: flex;
        padding-right: 16px;
        padding-left: 16px;
        gap: 32px;
    }
}


